
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="UTF-8">
<meta name = "viewport" content = "width=device-width ,initial-scale=1.0">
<title>Title of the document</title>
</head>
  <div class="container" id="home-container">

    <div class="jumbotron" id="vertical-center">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p><h1>Welcome to the Home page</h1>
    <%= link_to 'Articles listing', articles_path %></p>
    </div>
    </div>
  
</div>
<div id = "page-content" >

</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Find me on github", "https://github.com/Taifjubran", class: "text-white"%></small>
    </div>
  </footer>

</html>








